.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: lightgreen;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background-image: url(/assets/images/backgroundPepper.jpg);
 
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color:green;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.card-title {
color:darkgreen;
font-size: 20px;
}

nav .btn {
  box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 px 0 0 #357ebd, 0 4px 0 1px rgba(0,0,0,0.4), 0 8px 4px 1px rgba(0,0,0,0.5);
  background-color:#428bca;
  color: black
}

nav .btn:focus {
  box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 px 0 0 #357ebd, 0 4px 0 1px rgba(0,0,0,0.4), 0 8px 4px 1px rgba(0,0,0,0.5);
  background-color:#428bca;
  color:black;
}


nav .btn:hover {
  box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 px 0 0 #357ebd, 0 4px 0 1px rgba(0,0,0,0.4), 0 8px 4px 1px rgba(0,0,0,0.5);
  background-color:yellow;
  color:black;
}

.fa-spinner{
  color:green;
}

a:hover, a:visited, a:link, a:active
{
  color: black;
  text-decoration: none!important;

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.fa-trash-o{
  color:black;
}
.fa-trash-o:hover{
  color:red;
}

.fa-pencil-square-o:hover{
color:green;
}

progress{
  margin-left:0px;
}





